<!-- <label >Server Name</label>
<input type="text" class="form-control" (input)= "onUpdateServerName($event)">  -->

<label>Server Name</label>
<input type="text" class="form-control" [(ngModel)]="serverName">


<!-- <p>{{serverName}}</p> -->


<button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()">Hello World</button>


<p *ngIf="servercreated; else noServer">Server was created with name {{ serverName }}</p>
<ng-template #noServer><p>No Server was created</p></ng-template>
<!-- <p [innerText] ="allowNewServer"></p> -->
<!-- <p>{{serverCreationstatus}}</p>


 -->
<app-server *ngFor="let server of servers"></app-server>